<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#set current environment

target_box=&quot;tivx013&quot;

echo &quot; Launch kernel VMs and deploy SC components ...&quot;
ssh -o StrictHostKeyChecking=no root@$target_box &quot;sed  -i &apos;s/32768/10000/g&apos;   /home/scp_build/IBM_SmartCloud_Installer_and_OpenStack-*/inst-scripts/deploy_all.sh &quot;
ssh -o StrictHostKeyChecking=no root@$target_box &quot;sed  -i &apos;s/4096/100/g&apos;   /home/scp_build/IBM_SmartCloud_Installer_and_OpenStack-*/inst-scripts/deploy_all.sh &quot;
ssh -o StrictHostKeyChecking=no root@$target_box &quot;cd /home/scp_build/IBM_SmartCloud_Installer_and_OpenStack-*/inst-scripts; ./deploy_all.sh &lt; /dev/null &gt; /dev/null 2&gt;&amp;1&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>8_verify_deployment_sco_tivx013</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>